* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.925);
}

.d-none {
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 30px;
}

#image-container {
    height: 500px;
}

figure {
    height: 100%;
    width: 100%;
    position: relative;
    display: none;
    
}

figcaption {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 2rem;
    text-shadow: 0 0 3px black;
    color: white;
}

.img-fluid {
    max-width: 880px;
    border-radius: 10px;
    object-fit: cover;
    height: 500px;
}

.active {
    display: block;
}

.arrow {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
}


.thumbnails-container {
    display: flex;
    align-items: center;
    width: 880px;
    margin: 3rem auto;
    gap: 10px;
    overflow: hidden;
    

}

.thumbnails {
    flex-basis: calc(100% / 5);
    height: 95px;
    border-radius: 10px;
    filter: grayscale(1);
    cursor: pointer;
}

.colored {
    filter: grayscale(0);
}

